<!-- Initiate facebook -->
<!-- {%- include comment/facebook.html -%} -->

<!--
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v14.0"></script>
-->

<!-- Display comments -->
<div class="fb-comments" data-href="{{ site.url }}{{ page.url }}"
         data-num-posts="{{ site.comments.facebook.num_posts | default: 5 }}"
         data-colorscheme="{{ site.comments.facebook.colorscheme | default: 'light' }}"
         data-mobile="true" data-width="100%"></div>

